@font-face {
    font-family: 'HYKaiTiS';
    font-style:  normal;
    font-weight: 500;
    src:         local('HYKaiTiS'), url(../fonts/HYKaiTiS.ttf) format('truetype');
}

@font-face {
    font-family: 'HYKaiTiS';
    font-style:  bold;
    font-weight: 800;
    src:         local('HYKaiTiS'), url(../fonts/HYKaiTiS.ttf) format('truetype');
}

@font-face {
    font-family: 'HYKaiTiS';
    font-style:  italic;
    font-weight: 400;
    src:         local('HYKaiTiS'), url(../fonts/HYKaiTiS.ttf) format('truetype');
}

@font-face {
    font-family: 'HYZhongHeiS';
    font-style:  normal;
    font-weight: 400;
    src:         local('HYZhongHeiS'), url(../fonts/HYZhongHeiS.ttf) format('truetype');
}

@font-face {
    font-family: 'Meslo LG M for Powerline';
    font-style:  normal;
    font-weight: 400;
    src:         local('Meslo LG M for Powerline'), url('../fonts/Meslo LG M for Powerline.ttf') format('truetype');
}